<style>
	.modal-backdrop{
		z-index: 0 !important;
	}
	.modal-dialog{
		margin-top: 85px !important;
	}
</style>
<div class="content nopadding">
    <table class="table table-bordered">
        <thead id="thead">
            <tr id="tr">
              <th>Date</th>
              <th>Payee</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbody">

            <tr ng-repeat="log in payment_log | orderBy:'-created_at'" id="tr">
                
                <td>{{log.date}}</td>

                <td ng-class="{payee:transaction_type=='Billing'}">
                    <a ng-click="getBillInfo(log.payee)" data-toggle="modal" data-target="#billDetailModel" href="javascript:void(0)">
                      {{log.payee}}
                    </a>
                </td>
                <!-- <td ng-if="transaction_type != 'Billing'">{{log.payee}}</td> -->


                <td ng-if="log.description=='pending'">
                    <a data-toggle="modal" ng-class="{pending:log.description=='pending'}" data-target="#applyPayMethod" ng-click="setInvoiceNum(log.payee)" href="javascript:void(0)">
                      {{log.description}}
                    </a>
                </td>
                <td ng-if="log.description != 'pending' ">{{log.description}}</td>

               <!--  <td ng-if="transaction_type != 'Billing'">{{log.payee}}</td> -->

                <td ng-if="log.addition == 0 && log.substraction == 0">{{log.total}}</td>
                <td class="credit" ng-if="log.substraction == 0 && log.addition != 0">{{log.addition}}</td>
                <td class="debit" ng-if="log.substraction != 0 && log.addition == 0">{{log.substraction}}</td>

                <td ng-if="log.description == 'Cash'">
                    <a style="color: red;" ng-click="deleteInvoice({invoice:log.payee,total:log.total,payment_type_id:log.payment_method})" href="javascript:void(0)">
                      Delete
                    </a>
                </td>
                <td ng-if="log.description != 'Cash'">
                    
                </td>
            </tr>
           
                                                     
        </tbody>
    </table>               

</div>

<div class="modal fade bd-example-modal-sm" id="billDetailModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="margin-left: 35%;font-size: 15px;"><b>Invoice Detail</b></span>
        <a href="javascript:void(0);" data-dismiss="modal" class="pull-right">Close</a>
      </div>
        <div class="modal-body" style="height: 300px; overflow-y: auto;">
           <!-- <div class="well"> -->

                  <table class="table" style="margin-bottom: 0px !important;">
                    <tbody>
                      <tr>
                        <td style="text-align: left;padding: 4px;border-top: 1px solid #fff;">{{result.customer_name}}</td>
                        <td style="text-align: right;padding: 4px;border-top: 1px solid #fff;">Invoice- {{result.invoice_number}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left;padding: 4px;border-top: 1px solid #fff;">{{result.customer_mobile}}</td>
                        <td style="text-align: right;padding: 4px;border-top: 1px solid #fff;">{{result.date}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table" style="margin-bottom: 0px !important;">
                    <thead>
                      <tr>
                        <th style="text-align: left;">Item</th>
                        <th>Stylist</th>
                        <th style="text-align: right;">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in items">
                        <td style="text-align: left;">{{item.service_used}}</td>
                        <td>Zakir</td>
                        <td style="text-align: right;">{{item.amount_spent}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table" style="margin-bottom: 0px !important;">
                    <thead>
                      <tr>
                        <th style="text-align: left;">Billing Details</th>
                        <th style="text-align: right;">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="text-align: left;">Sub Total</td>
                        <td style="text-align: right;">{{result.sub_total}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left;">Vat</td>
                        <td style="text-align: right;">{{result.vat}}</td>
                      </tr>
                     <tr>
                        <td style="text-align: left;">Service Tax</td>
                        <td style="text-align: right;">{{result.service_tax}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left;">Discount</td>
                        <td style="text-align: right;">{{result.discount}}</td>
                      </tr>
                     
                    </tbody>
                  </table>

                  <table class="table" style="margin-bottom: 0px !important;">
                    <thead>
                      <tr>
                        <th style="text-align: left;">Total</th>
                        <th style="text-align: right;">{{result.total}}</th>
                      </tr>
                    </thead>
                  </table>
              <!-- </div> -->
        </div>     
    </div>
  </div>
</div>