<style type="text/css">
  .modal-backdrop {
  position: relative !important;
}
.modal-dialog{
  margin-top: 70px !important;
}
label{
  margin-top: 5px;
}
</style>
<div class="container" style="width: 100% !important;">
    <div class="row">
        <div class="col-sm-3 nopadding" style="height: 582px;">
            <div class="cards" style="height: 597px;">          
            <!-- active_card                  -->
                <div ng-repeat="service in services"> 
                    <div class="cad-group" ng-class='{active_card: account.id==selected}'>
                        <span>
                          <a href="javascript:void(0)" ng-click="getServiceCategory({id:service.id,name:service.name})" class="button btn btn-primary btn-lg btn-block">
                              <span class="card-name">{{service.name}}</span>
                          </a>
                        </span>
                        <span ng-if="deleteAcc" id="btnDelete" ng-click="deletAccount({id:account.id,name:account.account_name})" confirm='Are you sure?'>
                            <i ng-if="account.account_name != 'Cash'" class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>                            
            </div>

          <!--  <div class="bottom-menu">
                hello
            </div> -->

        </div>

        <div class="col-sm-9 nopadding" style="background-color: #ffffff;height: 582px;">   
            <div class="menu-head" style="border-bottom: solid; border-width: 2px;">
                {{selected}}
                <b><span style="margin-left: 40%;color: black;">{{acc_name}}</span></b>
                 <button style="padding: 0px 12px !important;" ng-click="addNewServiceLineup()" data-toggle="modal" data-target="#myModal" class="btn btn-default iosBtn pull-right">
                    <!-- <i class="fa fa-exchange icon" aria-hidden="true"></i>  -->
                    Add Service
                <!-- </span> -->
                </button>
            </div>
            <div class="content nopadding">

                <div class="container">
                  <div class="row">
                    <div class="[ col-xs-12]">
                      <ul class="event-list" style="height: 548px;overflow-y: auto;">

                        <li ng-repeat="line in lineup">
                          <time datetime="2014-07-31 1600">
                            <span class="day"></span>
                          </time>
                          <div class="info">
                            <h2 class="title">{{line.category_name}}</h2>
                            <p class="desc">{{line.description}}</p>
                            <ul style="left: 15%;">
                              <a style="margin-right: 2%;cursor: pointer;" ng-click="getServiceDetail(line)" href="javascript:void(0)" data-toggle="modal" data-target="#myModal1">
                                  <span class="fa fa-pencil"></span> 
                              </a>
                              <span ng-click="deleteService(line)" class="fa fa-trash" style="cursor: pointer;"></span>
                            </ul>
                          </div>
                        </li>


                      </ul>
                    </div>
                  </div>
                </div>

               <!--  <accordion>
                  <accordion-group ng-repeat="group in lineup" heading="{{group.category_name}}" is-open="false">
                    <accordion-heading>
                      <span ng-class="{canceled: group.status=='canceled'}" style="cursor: pointer;">{{group.category_name}}</span>    
                    </accordion-heading>
                      <p>hello</p>

                  </accordion-group>    
                </accordion> -->


            </div>
        </div>
  </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal">Close</a>
        <span style="margin-left: 35%;font-size: 15px;"><b>Add Service</b></span>
        <a href="javascript:void(0);" ng-click="addServiceLineUp()" class="pull-right">Save</a>
      </div>
        <div class="modal-body">

        
          <form class="form-horizontal">
          <fieldset>
              <div class="form-group">
                <label class="col-md-3" for="country">Select Category</label>
                <div class="col-md-9">
                  <select ng-model="category" ng-change="selectCategory(category)" ng-options="cat.category_name for cat in categories track by cat.category_id" class="form-control">
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3" for="country">Service Name</label>
                <div class="col-md-4">
                   <input ng-model="serviceName" type="text" placeholder="Service Name" class="form-control input-md">
                </div>
                 <label class="col-md-2" for="country">Description</label>
                <div class="col-md-3">
                   <input type="text" ng-model="description" placeholder="Description" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3" for="country">Staff Based</label>
                <div class="col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active" ng-click="setOptions({type:'staff',value:'false'})">
                        <input type="radio" autocomplete="off" checked>OFF
                      </label>
                      <label class="btn btn-primary" ng-click="setOptions({type:'staff',value:'true'})">
                        <input type="radio" autocomplete="off">ON
                      </label>
                    </div>
                </div>

              <label class="col-md-2" for="country">Gender Based</label>
                <div class="col-md-3">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active" ng-click="setOptions({type:'gender',value:'false'})">
                        <input type="radio" autocomplete="off" checked>OFF
                      </label>
                      <label class="btn btn-primary" ng-click="setOptions({type:'gender',value:'true'})">
                        <input type="radio" autocomplete="off">ON
                      </label>
                    </div>
                </div>
              </div>

              <div class="form-group" ng-hide="initialScreen">
                  <label class="col-md-1 col-md-offset-3" for="country">Price</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="common_price" placeholder="Price" class="form-control input-md" required="">
                  </div>
                   <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="genderBased">
                  <label class="col-md-1 col-md-offset-3" for="country">Male</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="male_price" placeholder="male price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Female</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="female_price" placeholder="female price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="staffBased" ng-repeat="stylist in stylistCategory">
                  <label class="col-md-3" ng-model="stylist.caption" for="country">{{stylist.caption}}</label>
                  <label class="col-md-1" for="country">Price</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.common_price" placeholder="Price" class="form-control input-md" required="">
                  </div>
                   <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="staffGenderBased" ng-repeat="stylist in stylistCategory">
                  <label class="col-md-3" ng-model="stylist.caption" for="country">{{stylist.caption}}</label>
                  <label class="col-md-1" for="country">Male</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.male_price" placeholder="male price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Female</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.female_price" placeholder="female price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group">
                <div class="col-md-3" style="padding-top: 6px;">
                  <input type="checkbox" ng-model="notify" ng-change="notifyService(notify)">
                  Send Reminder Sms
                </div>
                
                <div ng-show="reminderBox">
                  <div class="col-md-2">
                    <input type="text" ng-model="notifyDays" placeholder="in days" class="form-control input-md">
                  </div>
                  <div class="col-md-7">
                    <input type="text" ng-model="notifyMSG" class="form-control input-md">
                  </div>
                </div>

              </div>

              <label ng-repeat="role in roles">
                <input type="checkbox" ng-model="role.checked" ng-change="toggleUserRole(role)"> &nbsp;&nbsp; {{role.name}}&nbsp;&nbsp;&nbsp;&nbsp;
              </label>

          </fieldset>
          </form>
            
         

        </div>     
    </div>
  </div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal">Close</a>
        <span style="margin-left: 35%;font-size: 15px;"><b>Edit Service</b></span>
        <a href="javascript:void(0);" ng-click="updateServiceCategory()" class="pull-right">Save</a>
      </div>
        <div class="modal-body">

          <form class="form-horizontal">
          <fieldset>
              

              <div class="form-group">
                <label class="col-md-3" for="country">Select Category</label>
                <div class="col-md-9">
                  <select ng-model="service_id" ng-change="changeService(service_id)" ng-options="cat.name for cat in services track by cat.id" class="form-control">
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3" for="country">Select Service</label>
                <div class="col-md-9">
                  <select ng-model="category_id" ng-options="val.name for val in serviceCategory track by val.id" class="form-control">
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3" for="country">Service Name</label>
                <div class="col-md-9">
                  <input type="text" ng-model="serviceNameEdit" placeholder="in days" class="form-control input-md">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3" for="country">Staff Based</label>
                <div class="col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active" ng-click="setOptions({type:'staff',value:'false'})">
                        <input type="radio" autocomplete="off" checked>OFF
                      </label>
                      <label class="btn btn-primary" ng-click="setOptions({type:'staff',value:'true'})">
                        <input type="radio" autocomplete="off">ON
                      </label>
                    </div>
                </div>

              <label class="col-md-2" for="country">Gender Based</label>
                <div class="col-md-3">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active" ng-click="setOptions({type:'gender',value:'false'})">
                        <input type="radio" autocomplete="off" checked>OFF
                      </label>
                      <label class="btn btn-primary" ng-click="setOptions({type:'gender',value:'true'})">
                        <input type="radio" autocomplete="off">ON
                      </label>
                    </div>
                </div>
              </div>

              <div class="form-group" ng-hide="initialScreen">
                  <label class="col-md-1 col-md-offset-3" for="country">Price</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="common_price" placeholder="Price" class="form-control input-md" required="">
                  </div>
                   <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="genderBased">
                  <label class="col-md-1 col-md-offset-3" for="country">Male</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="male_price" placeholder="male price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Female</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="female_price" placeholder="female price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="staffBased" ng-repeat="stylist in stylistCategory">
                  <label class="col-md-3" ng-model="stylist.caption" for="country">{{stylist.caption}}</label>
                  <label class="col-md-1" for="country">Price</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.common_price" placeholder="Price" class="form-control input-md" required="">
                  </div>
                   <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group" ng-show="staffGenderBased" ng-repeat="stylist in stylistCategory">
                  <label class="col-md-3" ng-model="stylist.caption" for="country">{{stylist.caption}}</label>
                  <label class="col-md-1" for="country">Male</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.male_price" placeholder="male price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Female</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.female_price" placeholder="female price" class="form-control input-md" required="">
                  </div>
                  <label class="col-md-1" for="country">Duration</label>
                  <div class="col-md-2">
                     <input type="text" ng-model="stylist.duration" placeholder="Duration" class="form-control input-md" required="">
                  </div>
              </div>

              <div class="form-group">
                <div class="col-md-3" style="padding-top: 6px;">
                  <input type="checkbox" ng-model="notify" ng-change="notifyService(notify)">
                  Send Reminder Sms
                </div>
                
                <div ng-show="reminderBox">
                  <div class="col-md-2">
                    <input type="text" ng-model="notifyDays" placeholder="in days" class="form-control input-md">
                  </div>
                  <div class="col-md-7">
                    <input type="text" ng-model="notifyMSG" class="form-control input-md">
                  </div>
                </div>

              </div>

              <label ng-repeat="role in roles">
                <input type="checkbox" ng-checked="role.checked=='true'" ng-model="role.checked" ng-change="toggleUserRole(role)"> &nbsp;&nbsp; {{role.name}}&nbsp;&nbsp;&nbsp;&nbsp;
              </label>


          </fieldset>
          </form>

        </div>     
    </div>
  </div>
</div>


<script type="text/javascript">


    function assignmentInfo(){
        $('#myModal').modal();
    }

    

    $(".num-valid").keydown(function (e) {       
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||             
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||              
            (e.keyCode >= 35 && e.keyCode <= 40)) {                 
                 return;
        }        
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    
   
</script>

